.about-us {
     display: flex;
     min-height: 720px;
     overflow: hidden;
}
.about-us__image {
     display: flex;
     flex: 1;
     flex-direction: column;
     justify-content: center;
     background-color: var(--color-white);
     position: relative;
}
.about-us__image div {
     padding: 32px 64px;
     display: flex;
     flex: 1;
     align-items: center;
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
}
.about-us__image-sushi2 {
     background-image: url('../assets/about_bg2.png');
}
.about-us__image-sushi3 {
     border-bottom: 8px solid var(--color-creason);
     background-image: url('../assets/about_bg1.png');
}
.about-us__image-sushi2 img {
     width: 240px;
     height: 160px;
}
.about-us__image-sushi3 img {
     width: 200px;
     height: 225px;
}
.about-us__button {
     position: absolute;
     right: 0px;
     padding: 12px 32px;
     min-height: 64px;
     background-color: var(--secondary-color);
     border: 0px;
     border-radius: 32px 0px 0px 32px;
     outline: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500px;
     font-family: var(--plus-jakarta-sans);
     line-height: 23px;
     cursor: pointer;
}
.about-us__button img {
     object-fit: contain;
     margin-left: 32px;
}
.about-us__content {
     padding: 64px;
     display: flex;
     flex: 1;
     flex-direction: column;
     justify-content: center;
}